body{
    scroll-behavior: smooth;
}

/* Navigation */

.navbar-brand {
    padding: 0;
    margin: 0;
}

/* Hero/Jumbotron */

  .jumbotron {
    background-image: url(../images/jumbotron3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6rem 2rem;
}
.display-4
.lead {
    color: #212529;
}

.my-4 {
    border: 1px solid black;
    width: 60%;
}

.display-4{
    text-align: center;
    font-weight: 500;
}

.lead {
    text-align: center;
}

/* Work */

.card-img-top {
    width: 18rem;
    height: 12rem;
}

.card-img-top:hover {
    transform: scale(1.1);
}

.btn-primary {
    background-color: #FCF5E5;
    align-self: center;
    color: black;
}
.btn-primary:hover {
    background-color: turquoise;
    transform: scale(1.1);
}

/* Skills */

.list-group-item {
    background-color: white;
}

.top-of-the-list {
    background-color: #FCF5E5;
}


.list-group-item {
   text-align: center;
   font-weight: bold;
}

.top-of-the-list {
    font-weight: bold;
    font-size: xx-large;
}


/* About Me */

.about-me-image {
    width: 15rem;
    height: 18rem;
    align-self: center;
}

.card-about-me {
    text-align:center
}

.card-header {
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    background-color: #FCF5E5;
    border-bottom: #212529 4px double;
}

/* Footer/contact */

.footer-card-body {
    text-align: center;
    padding-bottom: 2rem;
}

.btn-secondary {
    background-color: #FCF5E5;
    color: black;
}

.btn-secondary:hover {
    transform: scale(1.2);
}



